<!DOCTYPE html>
<html>
<head>
<title><%node['alex_nginx_site']['name']%> test page!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Alex Eastaugh test page!</h1>
<p>If you see this page, the nginx web server is successfully installed and
working. Further configuration is required.</p>

<p>Build using Terraform
<a href="https://www.terraform.io/">terraform.io</a>.<br/>
Configured using Chef
<a href="https://www.chef.io/">chef.io</a>.</p>

<p><em>Now do some more tweaking.</em></p>
</body>
</html>
